/* First section */

.section-1 {
  position: relative;
  width: 100%;
  height: 600px; /* Set your specific height */
  overflow: hidden;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.text-overlay {
  position: absolute;
  top: 70%;
  left: 60px;
  transform: translateY(-50%);
  color: var(--color-white);
  z-index: 1;
}

.text-overlay h2 {
  font-family: var(--font-family-1);
  font-size: 1.75rem;
  text-transform: uppercase;
  line-height: 1;
}

.text-overlay h1 {
  font-family: var(--font-family-2);
  font-size: 4.5rem;
  text-transform: lowercase;
  line-height: 1;
  margin-bottom: 40px;
}

.button-container {
  position: absolute;
  top: 80%;
  left: 60px;
  display: flex;
  gap: 20px;
  font-family: var(--font-family-2);
  font-size: 1rem;
  text-transform: uppercase;
}

.menu-button {
  font-family: var(--font-family-2);
  text-transform: uppercase;
  padding: 15px 25px;
  background-color: var(--color-purple-light);
  color: var(--color-purple-dark);
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-button {
  padding: 15px 25px;
  background-color: var(--color-white);
  color: var(--color-purple-darke);
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: var(--color-purple-dark);
  color: var(--color-white);
}

.order-button:hover {
  background-color: var(--color-green);
  color: var(--color-white);
}

/* Second section */
.section-2 {
  width: 100%;
  padding: 40px 0;
  background-color: var(--color-white);
  text-align: center;
  /* margin-bottom: 20px; Add margin to prevent overlap with section-3 */
}

.section-2 h1 {
  font-family: var(--font-family-2);
  font-size: 3rem;
  text-transform: lowercase;
  text-align: center;
  line-height: 1;
  margin-bottom: 40px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.img-container img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
}

.img-container p {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 0.8rem;
  font-family: var(--font-family-1);
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: var(--color-green);
  position: relative;
  display: inline-block;
}

.img-container img:hover + p::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-green);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.img-container-all {
  text-align: left;
}

/* Section 3 */

.section-3 {
  height: auto;
  display: flex;
  gap: 80px;
  align-items: center;
  background-color: var(--color-gray-bg);
  padding: 70px 70px;
  width: 100%;
  background-color: var(--color-gray-bg);
  margin-top: 20px;
}

.section-3-content div:not(:last-child) {
  margin-bottom: 30px;
}

.section-img img {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  max-width: 500px; /* Limit the maximum width for smaller screens */
  height: 380px;
  /* margin-bottom: 20px; */
}

.content-1 h2,
.content-3 h2 {
  font-family: var(--font-family-1);
  font-size: 1.5rem;
  text-transform: uppercase;
}

.content-1 h1 {
  font-family: var(--font-family-2);
  font-size: 4.5rem;
  text-transform: lowercase;
  line-height: 1;
}

.content-2 {
  display: flex;
  /* padding: 20px 0 40px 0; */
  gap: 10px;
}

.content-social {
  display: flex;
  gap: 30px;
  padding: 20px 0 0 0;
}

/* Responsive */

@media screen and (max-width: 768px) {
  .body {
    overflow: visible;
  }

  /* section 1 */
  .text-overlay {
    padding-top: 40px;
  }
  .text-overlay h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  .text-overlay h2 {
    font-size: 1rem;
  }

  .button-container {
    padding-top: 20px;
  }

  .menu-button,
  .order-button {
    padding: 10px 15px;
    height: 100%;
    font-size: 0.8rem;
  }

  /* section 2 */

  .section-2 {
    padding: 20px 0;
  }

  .section-2 h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .img-container {
    flex-direction: column;
    gap: 15px;
  }

  .img-container img {
    width: 200px;
    height: 200px;
  }

  .section-3 {
    flex-direction: column;
    gap: 10px;
    margin-top: 0px;
  }

  .section-3-content div:not(:last-child) {
    margin-bottom: 15px;
  }

  .content-1 h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
  }

  .content-1 h2,
  .content-3 h2 {
    font-size: 1rem;
  }

  .content-2 h1 {
    font-size: 2.5rem;
  }

  .content-social {
    gap: 10px;
  }

  .content-social img {
    width: 40px;
  }
}
