.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.material-symbols-outlined {
  font-size: 2.2rem;
}

.navbar-container {
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.navbar-items {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-items li a {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 350;
  font-family: var(--font-family-2);
  letter-spacing: 0.8px;
  cursor: pointer;
  margin: 0 20px;
  position: relative;
  transition: color 0.4s ease;
}

.navbar-items li:not(:last-child) a:hover {
  color: var(--color-green);
  border-bottom: 2px solid var(--color-green);
}

.navbar-button {
  color: var(--color-green) !important;
  font-size: 1rem;
  font-weight: 350;
  font-family: var(--font-family-2);
  background-color: #141414;
  border: 2px solid var(--color-green);
  padding: 8px 15px;
  border-radius: 5px;
  transition: color 0.4s ease;
}

.navbar-button:hover {
  color: var(--color-white) !important;
  background-color: var(--color-green);
}

.navbar-items li a.active {
  color: var(--color-green);
  border-bottom: 2px solid var(--color-green);
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .navbar-items {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: var(--color-black);
    position: absolute;
    top: 120px;
    left: 0;
    z-index: 1;
  }

  .navbar-items.show {
    display: flex;
    padding-bottom: 20px;
  }

  .navbar-container.menu-open {
    z-index: 1;
  }

  .navbar-items li {
    margin: 10px 0;
  }
}
